<%@posts.each do |post|%>
<<<<<<< HEAD
<%=link_to  post.title , post_path(post)%>
=======
<div><%= link_to  post.title, post_path(post)%></div>
>>>>>>> 62f922fc29d888a56c125b88a8f9b1c75b9eb903
<%end%>
