<%@posts.each do |post|%>
<<<<<<< HEAD
<div><%=link_to  post.title , post_path(post)%></div>
=======
<<<<<<< HEAD
<%=link_to  post.title , post_path(post)%>
=======
<div><%= link_to  post.title, post_path(post)%></div>
>>>>>>> 62f922fc29d888a56c125b88a8f9b1c75b9eb903
>>>>>>> 687daf820da2003375354fcdb8c2e1da43dca807
<%end%>

  
